@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
.text-js {
  opacity: 0;
}

.cursor {
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: -5px;
  width: 2px;
  /* Change colour of Cursor Here */
  background-color: white;
  z-index: 1;
  -webkit-animation: flash 0.5s none infinite alternate;
          animation: flash 0.5s none infinite alternate;
}

@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.headline {
  color: #3aada6;
  font-size: 1.5em;
  text-align: center;
  margin-left: 5%;
  margin-top: 5%;
}
.headline p {
  letter-spacing: 3px;
  line-height: 1.4em;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}
