@import url(https://fonts.googleapis.com/css?family=Raleway|Reenie+Beanie);

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Raleway", sans-serif;
  line-height: 1.5em;
  background:#ffffff;
}

img {
  width: 100%;
}
.bar{
  background:#3aada6;
  height: 100px;
  z-index: -1;
}

.cards{
  margin: 3%;
  margin-left: 10%;
}
.caption,
h1,
.date {
  margin: 0;
  text-align: center;
}

.caption,
h1 {
  font-family: "Reenie Beanie", sans-serif;
  font-size: 2em;
  padding: 10px 10px 0 10px;
  color: #ffffff;
}

.date {
  font-size: 0.75em;
}

.description {
  font-size: 0.9em;
  padding: 0 20px 20px 20px;
  text-align: left;
}

.container {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  display: inline-block;
  margin: 3%;
  background:#3aada6;
}

.container:hover .flipper {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.container,
.front,
.back {
  width: 250px;
  height: 250px;
}

.flipper {
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.front {
}

.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

#content {
  text-align: center;
}
