@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");


.cursor {
  display: block;
  position: absolute;
  height: 2.0em;
  top: -18px;
  right: -5px;
  width: 2px;
  /* Change colour of Cursor Here */
  background-color: #3aada6;;
  z-index: 1;
  -webkit-animation: flash 0.5s none infinite alternate;
          animation: flash 0.5s none infinite alternate;
}

@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.headline {
  color: #3aada6;
  font-size: 2.5em;
  text-align: center;
  margin-left: 30%;
  margin-top: 14%;
}
.headline h1 {
  letter-spacing: 1.6px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}
/*.headline p {
  letter-spacing: 3px;
  line-height: 1.4em;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}*/

@media(max-width: 1580px) {
  .headline {
    font-size: 2.5em; /* Fine tune unbehaved elements */
  }
}
@media(max-width: 980px) {
  .headline {
    font-size: 1.9em; /* Fine tune unbehaved elements */
  }
}
@media(max-width: 700px) {
  .headline {
    font-size: 1.0em; /* Fine tune unbehaved elements */
  }
}
@media(max-width: 480px) {
  .headline {
    font-size: 0.7em; /* Fine tune unbehaved elements */
  }
}