.pen
  .pen-info
    .pen-title Sitting Bird
    .pen-description Css Only
  
  .pen-credits
    a(href='https://dribbble.com/shots/2524097-Birdy' target='_blank') Original image by: KaDJU
    
  .pen-content
    .bird
      .shadow
      .feather.left
      .feather.right
      .body
        .wing.left
        .wing.right

      .eye.right
        .pupil
      .eye.left
        .pupil

      .beak
        .top
    

// Codepen overlay
link(href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css')

a.navigation.left(href='https://codepen.io/thesuitcase/pen/eJxwNZ' target='_blank')
  img.arrow(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/57971/overlay.arrow-left.svg')
a.navigation.right(href='https://codepen.io/thesuitcase/pen/LGzyQB' target='_blank')
  img.arrow(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/57971/overlay.arrow-right.svg')

a.twitter(href='https://twitter.com/TheSuitcaseIO' target='_blank')
  img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/57971/overlay.twitter.svg')

a.icon(href='http://thesuitcase.io' target='_blank')
  img(src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/57971/overlay.thesuitcase.svg')